@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
:root{
  height:100%;
  background-color: black;
  color-scheme: dark;
}

a {
  text-decoration: none;
}
h1 {
  font-size: 5em;
  margin-left: 25px; /* You can adjust the size to your preference */
}